<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    <h1>Iris Class prediction</h1>
    <form action="{% url 'result' %}">
      {% csrf_token %}
      
      <p>sepal_length:</p>
      <input type="text" required name="sepal_length">
      <br> <br>


      <p>sepal_width:</p>
      <input type="text" required  name="sepal_width">
      <br> <br>


      <p>petal_length:</p>
      <input type="text" required name="petal_length">
      <br> <br>


      <p>petal_width:</p>
      <input type="text" required  name="petal_width">
      <br> <br>

      

      <input type="submit" name = "" value='submit'>
    </form>
  </body>
</html>